{% extends "AppBundle::template_security.html.twig" %}

{% block stylesheets %}
    {{ parent() }}

    <style>
        /* wrap login template */
        #wrap-login-template{
            position:fixed;;
            z-index:-1;
            top:0;
            left:0;
            background-color:black;
        }
        #wrap-login-template img.bgfade{
            position:absolute;
            top:0;
            display:none;
            width:100%;
            height:100%;
            z-index:-1
        }
        /* wrap login template */
    </style>


{% endblock %}

{% block javascripts %}
    {{ parent() }}

    <script type="text/javascript">

//        $(function () {
//            $('input').iCheck({
//                checkboxClass: 'icheckbox_square-orange',
//                radioClass: 'iradio_square-orange',
//                increaseArea: '20%' // optional
//            });
//        });

        /* wrap login template */
        $(window).load(function(){
            $('img.bgfade').hide();
            var dg_H = $(window).height();
            var dg_W = $(window).width();
            $('#wrap-login-template').css({'height':dg_H,'width':dg_W});
            function anim() {
                $("#wrap-login-template img.bgfade").first().appendTo('#wrap-login-template').fadeOut(1500);
                $("#wrap-login-template img").first().fadeIn(1500);
                setTimeout(anim, 3000);
            }
            anim();
        });

        $(window).resize(function(){
            window.location.href=window.location.href
        });
        /* wrap login template */

    </script>

{% endblock %}

{% block content %}



    <div class="register-box">

        <div class="register-logo">
            <b>Registrar</b>SE
        </div>

        {% if not formEntity.vars.valid %}
            <div class="alert alert-warning alert-dismissible">
                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                <i class="icon fa fa-warning"></i> Info
                {{ form_errors(formEntity) }}
            </div>
        {% endif %}

        <div class="register-box-body">
            {#<p class="login-box-msg">Sign in to start your session</p>#}

            {{ form_start(formEntity, {'attr': {'role': 'form'}}) }}

            <div class="form-group has-feedback">
                {{ form_label(formEntity.name) }}
                {{ form_widget(formEntity.name) }}
                <span class="glyphicon glyphicon-user form-control-feedback"></span>
            </div>

            <div class="form-group has-feedback">
                {{ form_label(formEntity.email) }}
                {{ form_widget(formEntity.email) }}
                <span class="glyphicon glyphicon-envelope form-control-feedback"></span>
            </div>

            <div class="form-group has-feedback">
                {{ form_label(formEntity.password) }}
                {{ form_widget(formEntity.password) }}
                <span class="glyphicon glyphicon-lock form-control-feedback"></span>
            </div>

            <div class="row">
                <div class="col-xs-8">
                    <div class="checkbox">
                        <label class="">
                            {{ form_widget(formEntity.termsAccepted) }}
                            {{ form_label(formEntity.termsAccepted) }}
                            {#<a data-toggle="modal" data-target="#modal-terms-and-conditions"> terms y conds.</a>#}
                        </label>
                    </div>
                </div>
                <div class="col-xs-4">
                    {{ form_widget(formEntity.submit) }}
                </div>
            </div>

            {{ form_end(formEntity)}}

            <div class="social-auth-links text-center">
                <p>-</p>
                <a href="#" class="btn btn-block btn-social btn-facebook btn-flat">
                    <i class="fa fa-facebook"></i> Registrarse Facebook
                </a>
                <a href="#" class="btn btn-block btn-social btn-google btn-flat">
                    <i class="fa fa-google-plus"></i> Registrarse Google+
                </a>
            </div>

            {#<a href="#">Olvidaste tu password?</a><br>#}

        </div>
    </div>


    



    <section class="content">
        <div class="row">
            <div class="col-md-6 col-sm-offset-3">
                <div class="box box-success">
                    <div class="box-header with-border">
                        <h3 class="box-title">
                            <i class="fa fa-fw fa-key"></i> Login
                        </h3>
                    </div>

                    {#{{ dump(app.user.name) }}#}





                    {#name="user2"#}
                    {#class="form-horizontal"#}



                    <form action="{{ path('app_security_login') }}" method="post" role="form" name="user2">
                        <div class="box-body">

                            {% if error %}
                                <div class="alert alert-warning alert-dismissible">
                                    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                                    <h4><i class="icon fa fa-warning"></i> Info</h4>
                                    {{ error.messageKey|trans(error.messageData, 'security') }}
                                </div>
                            {% endif %}

                            <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">

                            <div class="form-group">
                                <label class="col-sm-2 control-label required" for="_username">Email</label>
                                <div class="col-sm-10">
                                    <div class="input-group">
                                        <span class="input-group-addon"><i class="fa fa-envelope"></i></span>
                                        <input type="text" class="form-control required" name="_username" value="{{ last_username }}" placeholder="username" required="required" />
                                    </div>
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="col-sm-2 control-label required" for="_password">Password</label>
                                <div class="col-sm-10">
                                    <div class="input-group">
                                        <span class="input-group-addon"><i class="fa fa-key"></i></span>
                                        <input type="password" class="form-control" name="_password" placeholder="******" required="required">
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-sm-offset-2 col-sm-10">
                                    <div class="checkbox">
                                        <label>
                                            <input type="checkbox" name="_remember_me"> Recuerdame
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="box-footer">
                            <button type="submit" name="submit" class="btn btn-success pull-right">Login</button>
                        </div>
                    </form>

                </div>
            </div>
        </div>
    </section>

    <div id="wrap-login-template">
        {#<img class="bgfade" src="{{ asset('bundles/backend/images/background-image/bg-1.jpg')}}">#}
        {#<img class="bgfade" src="{{ asset('bundles/backend/images/background-image/bg-2.jpg')}}">#}
    </div>

{% endblock %}




